.navbar{
  background-color: #231B1B ;
  margin: 0 auto;
  width: 75%;
  height: 8rem;
  position: relative;
  top: 6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  

}

.navbar--name{
  color: white;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: smaller;
}



.mainpage{
  margin: 0 auto;
  height: 50rem;
  background-color: #D9D9D9;
  width: 90%;
  display: flex;
  transform-style: preserve-3d;
}

.mainpage-middle-element{
  height: 25rem;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage--left{
  background-color: #D9D9D9;
  width: 50%;
  display: flex;
  transform-style: preserve-3d;
}


.mainpage--left--blur{
  position: absolute;
  width: 200%;
  height: 100%;
  transform: translateZ(-10px);  
  background: #742AAF;
  filter: blur(1000px);
  z-index: 0;
}

.mainpage--right{
  background-color: #102595;
  width: 50%;
}

.box{
  width: 70%;
  background-color: #2B2A2A;
  margin: 0 auto;
  display: flex;
  height: 35rem;
  margin-top: 5rem;

  
}

.box-big{
  width: 90%;
  background-color: #2B2A2A;
  margin: 0 auto;
  display: flex;
  height: 70rem;


  
}

.box--innerbox{
  margin: auto;
  background-color: white;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;

}

.box--innerbox-content{
  padding: 10rem;
}

.box--picture{
  border-radius: 20%;
}



.box--innerbox-blur{
  filter: blur(50px);
  height: 90%;
  background: #742AAF;
  transform: translateZ(-1px);
}




.mainpage--container{
  background-color: #D9D9D9;
  margin: auto;
  width: 90%;
  height: 150rem;
}

.footer{
  background-color: #2B2A2A;
  margin: auto;
  width: 90%;
  height: 5rem;
}