@import url('https://fonts.google.com/specimen/Rhodium+Libre');

body {
  margin: 0;
  font-family: 'Rhodium Libre',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
